<html>
<head>
	{% if title %}
	<title>{{ title }} | Word On The Street</title>
	{% else %}
	<title>Word on the Street</title>
	{% endif %}
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" media="screen">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css">
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="container">
    	<div class="navbar navbar-inverse">
    		<div class="container-fluid">
    			<div class="navbar-header">
	         		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".nav-collapse">            
	         			<span class="icon-bar"></span>
	           			<span class="icon-bar"></span>
	          			<span class="icon-bar"></span>
	      			</a>
	        		<a class="navbar-brand" href="/">Streets Are Ttalking</a>
        		</div>
        		<div class="navbar navbar-collapse">
	          		<ul class="nav navbar-nav">
		             	<li><a href="{{ url_for('index') }}">Home</a></li>
		            	{% if g.user.is_authenticated() %}
		            	<li><a href="{{ url_for('user', username = g.user.username) }}">Your Profile</a></li>
		           		<li><a href="{{ url_for('logout') }}">Logout</a></li>
		           		{% endif %}
	           		</ul>
	           		{% if g.user.is_authenticated() %}
	           		<form class="navbar-form pull-right" action="{{url_for('search')}}" method="post" name="search">
	           			<div class="form-group">
	           			{{ g.search_form.hidden_tag() }}
	           			{{g.search_form.search(size=20,placeholder="Search",class="form-control")}}
	           			<input class="btn btn-primary" type="submit" value="Search">
	           			</div>
	           		</form>
	           		{% endif %}
           		</div>
       		</div>
 		</div>
     <div class="row">
        <div class="span12">
         {% block content %}{% endblock %}
       </div>
     </div>
 </div>   

</body>
</html>