<html>
<head>
	{% if title %}
	<title>{{ title }} | 718Digital</title>
	{% else %}
	<title>Technology, Graffiti, Culture | 718Digital</title>
	{% endif %}
</head>
<body>
	<div>
		<ul>
			<li><a href="{{ url_for('index') }}">718Digital</a></li>
			{% if g.user.is_authenticated() %}
			<li><a href="{{ url_for('user', username=g.user.username) }}">Your Profile</a></li>
			<li><a href="{{ url_for('logout') }}">Logout</a></li>
			{% endif %}
		</ul>
	</div>
	<hr>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
	{% for message in messages %}
		<li>{{ message }}</li>
	{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
	{% block content %}{% endblock %}
</body>
</html>